/* These classes have lower specificity so we can override them
   with utility classes */

/* .map-clip-path {
  clip-path: polygon(100% 0, 100% 90%, 43% 90%, 28% 100%, 11% 90%, 0 90%, 0 0);
} */

/* @screen md {
  .map-clip-path {
    clip-path: polygon(100% 0, 100% 100%, 15% 100%, 15% 70%, 4% 55%, 15% 40%, 15% 0);

  }
} */

.h2 {
  @apply mt-12 text-4xl font-light leading-none text-black;
}

@screen md {
  .h2 {
    @apply text-6xl;
  }
}

.button {
  @apply relative inline-flex items-center justify-center px-6 py-3 text-2xl leading-none text-center text-white whitespace-no-wrap rounded-none font-display;
}


.active::before {
  @apply absolute inset-y-0 left-0 flex items-center justify-center block w-12 h-3 my-auto transform -translate-x-4 bg-no-repeat;
  content: "";
  background-image: url("../images/pointer-white.svg");
}