@font-face {
  font-family: "True North";
  src: url("/fonts/true_north_black-webfont.woff2") format("woff2"),
    url("/fonts/true_north_black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "True North Dots";
  src: url("/fonts/true_north_dots_black-webfont.woff2") format("woff2"),
    url("/fonts/true_north_dots_black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
